@import "../../../styles/variables.scss";

body {
    overflow-x: hidden;
}

.card-title {
    font-size: 1rem;
    font-weight: 700;
}

.card-pricing {
    font-size: 1.1rem;
    font-weight: 700;
    color: $ink;
}

code {
    font-size: .9rem;
    margin: 0;
}
.flex-root{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
  
    @include breakpoint {
        display: flex;
        align-items:center;
        flex-direction: column;
        justify-content: center;
        max-width: 800;
        margin: 0 1rem;
        gap: .5rem;
  
    }   
}
