@import "../../../styles/variables.scss";

body {
    overflow-x: hidden;
}

.card-title {
    font-size: 1rem;
    font-weight: 700;
}

.card-pricing {
    font-size: 1.1rem;
    font-weight: 700;
    color: $ink;
}

code {
    font-size: .9rem;
    margin: 0;
}