.spinner-wrapper{
    display:flex;
    justify-content: center;
    margin: 10rem auto;
    flex:1;
}
.spinner-wrapper-sm{
    display:flex;
    justify-content: center;
    margin: 1.40rem auto;
    flex:1;
}
