@import "../../../styles//variables.scss";

.data-heading{
    font-size: 1.8rem;
    color: $primary-color;
    font-weight: 700;
    text-align: center;
}
.data-subheading{
    font-size: .8rem;
    color: $ink;
    text-align: center;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    align-content: center;
}
.data-title{
    font-size: 1rem;
    color: $ink;
    font-weight: 700;
    padding: 5px;
}
.data-title-text{
    font-size: 1.2rem;
    color: $primary-color;
    font-weight: 700;
}
.small-heading{
    font-size: 1rem;
}