@import "../../styles/variables.scss";

.appName, .footerCall{
    color: $gray-dark;

}
.footerBox{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    bottom: 0;
    position: absolute;
    text-align: center;
    background-color: $gray-light,
}

