@import "../../styles/variables.scss";

.appName, .footerCall{
    color: $gray-dark;

}
.footerBox{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
   position: fixed;
  left:0;
  bottom:0;
  right:0;
    text-align: center;
    background-color: $gray-light,
}

