@import './styles/variables.scss';

 .alert-success{
    padding: 1rem;
    margin: 0 auto;
    background-color: $gray-dark-color;
    font-weight: 700;
    color:#fff;
    @include breakpoint {
      width: 48%;
    }
}


.alert-error{
    padding: 1rem;
    margin: 0 auto;
    background-color: $red-color;
    font-weight: 700;
    color:#fff;
    @include breakpoint {
      width: 48%;
    }
}